body {
    background: url("https://i.ibb.co/cQ6mdDx/gpq-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.instruction,
.game {
    /* border: 2px solid red; */
    background-color: rgba(235, 240, 246, 0.8);
}

.instructionDesc>.lead,
.game>p {
    /* border: 2px solid blue; */
    text-align: center;
}

#npcFB {
    resize: none;
}

#btnTalkToNPC,
#btnRestart {
    display: none;
}